body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form {
    margin-bottom: 20px;
}

select, textarea, button {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
.entries ul {
    list-style: none;
    padding: 0;
}

.entries li.entry-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.entries .entry-content {
    flex: 1;
}

.entries .mood {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}

.entries .date {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    display: block; /* Ensure it appears on a new line */
}

.entries .journal {
    font-size: 1em;
    margin: 0;
}

.entries .delete-btn {
    width: 5.5rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.entries .delete-btn:hover {
    background-color: #c82333;
}
